.submit{
    margin-top: 10px;
    margin-bottom:10px;
}
button{
    padding:10px;
    border:solid 1px #ddd;
    font-size:18px;
    color: white;
    cursor:pointer;
    outline:none;
}
button:hover{
    background:#999;
    color:#fff;
}
.drawnNumbersContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}
.numbers{
    box-shadow: 1px 1px 1px black;
    background: gold;
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
    font-size: 30px;
    opacity: 0;
}
.luckyDipNumbers{
    box-shadow: 1px 1px 1px black;
    background: gold;
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
    font-size: 15px;
    opacity: 0;
}
.body {
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
}
.numberBox{
    padding: 5px;
    max-width: 50px;
}
.numberContainer {
    display: flex;
    flex-direction: column;
}
.mainContainer{
    display: flex;
}
.choiceContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.winningsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.enabledButton {
    background:green;
}
.disabledButton {
    background: red;
}
.luckyDipContainer {
    display: flex;
    flex-direction: column;
}
.luckyDipNumberContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.luckydipText{
    opacity: 0;
}